Checks: >-
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-avoid-const-or-ref-data-members,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
